.form-gap {
    padding-top: 70px;
}

.form-group a.btn-link {
    font-size: 18px;
    color: #909081;
    margin-top: 50px;
}

.form-group a.btn-link:focus, .form-group a.btn-link:hover {
    text-decoration: none;
    color: #575757;
}
.panel {
    width: 157.5%;
}
.container{
    position:absolute;
    left:50%;
    margin-left: -282px;
}
.form-control {
    height: 46.59px;
    width: 505px;
}

.input-group {
    margin-top: 20px;
    height: 46.59px;
    width: 505px;
}


