#fpass .form-gap {
    padding-top: 70px;
}

#fpass .form-group a.btn-link {
    font-size: 18px;
    color: #909081;
    margin-top: 50px;
}

#fpass .form-group a.btn-link:focus, .form-group a.btn-link:hover {
    text-decoration: none;
    color: #575757;
}

#fpass .panel {
    width: 100%;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 50px 25px 10px;
    margin: 0 auto 50px;
}

#fpass .col-md-4{
    margin: 0 auto;
}

.input-group {
    margin-top: 20px;
}


