html, h3, h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


a{
    text-decoration: none;
}

h3 {
    padding-top: 10px;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: #000000cf;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: Tahoma, sans-serif;
}

.main-agileinfo {
    width: 30%;
    margin: 3em auto;
    background: rgba(255, 255, 255, 0.61);
    background-size: cover;
    border: 1px solid black;
    border-radius: 5px;
}

.agileits-top {
    padding: 1em;
}

.agileits-top input[type="text"], input[type="email"], input[type="password"] {
    font-size: 1em;
    color: black;
    font-weight: 100;
    width: 94.5%;
    display: block;
    padding: 0.8em;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 5px;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #000;
    font-family: Tahoma, sans-serif;
    margin: 20px auto;
}


.text:focus, .text:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

.text:focus::-webkit-input-placeholder, .text:valid::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: .9em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    visibility: visible !important;
}


::-webkit-input-placeholder {
    color: black;
    font-weight: 100;
}

:-ms-input-placeholder {
    color: #fff;
}

input[type="submit"] {
    font-size: .9em;
    color: #fff;
    background: #1579BD;
    outline: none;
    border: 1px solid #1579BD;
    border-radius: 5px;
    cursor: pointer;
    padding: 1em;
    -webkit-appearance: none;
    width: 100%;
    margin: 2em 0;
    letter-spacing: 4px;
}

input[type="submit"]:hover {
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    background: #0031ff;
}

.agileits-top p {
    font-size: 1em;
    color: #000000;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
}

.agileits-top p a {
    color: #1579BD;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    font-weight: 400;
}

.wthree-text {
    margin-top: 10px;
}

.wthree-text label {
    font-size: 0.9em;
    color: #fff;
    font-weight: 200;
    cursor: pointer;
    position: relative;
}

input.checkbox {
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
}

@keyframes rippling {
    50% {
        border-left-color: #fff;
    }

    100% {
        border-bottom-color: #fff;
        border-left-color: #fff;
    }
}
